body {
  
}

.container {
  width: 420px;
}

.top-div {
  margin-bottom: 20px;
  width: 100%;
}
.score-input-section{
  width:100%;
}

.player-input-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

input,
button {
  margin-bottom: 10px;
  margin-right: 20px;
  padding: 5px;
}

.bottom-div {
  margin-top: 10px; /* Adjust as needed */
  width: 100%;

}

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }






